.header {
    padding-top: 35px;
    background-color: #74C69D;
    padding-bottom: 83px;
    margin-bottom: 60px;
}

.nav__ul {
    display: flex;
    font-family: "Work Sans Light" ,sans-serif;
    color: #fff;
    letter-spacing: 2px;
    font-size: 20px;
}

.nav__ul a {
    text-decoration: none;
    color: inherit;
}

.nav__li:nth-child(n + 2) {
    margin-left: 30px;
}

.header__container {
    width: 1175px;
    margin-left: auto;
	margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-row {
    display: flex;
    align-items: center;
}

.logo-row a {
    text-decoration: none;
    color: inherit;
}

.logo-row__title {
    font-size: 40px;
    color: #fff;
    margin-left: 18px;
    font-family: "Work Sans" ,sans-serif;
    line-height: 50px;
    letter-spacing: 2px;
}

.Welcome {
    margin-top: 80px;
}

.container__text {
    color: #fff;
    font-family: "Work Sans" ,sans-serif;
    width: 1175px;
    margin-left: auto;
	margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 83px;
}

.container__title:nth-child(1) {
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: "Work Sans Bold" ,sans-serif;
    font-weight: 700;

}

.container__title:nth-child(2) {
    font-size: 40px;
    font-family: "Crimson Text" ,sans-serif;
    font-weight: 600;
    margin-top: 30px;
    line-height: 50px;
}

.container__title:nth-child(3) {
    font-size: 15px;
    font-family: "Work Sans" ,sans-serif;
    margin-bottom: 15px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0.5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.title__button {
    font-family: "Work Sans" ,sans-serif;
    padding: 13px 48px 10px 48px;
    border: 0;
    border-radius: 5px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 170px;
}

.group {
    max-width: 416px;
    display: flex;
    flex-direction: column;
    margin-top: 35px;

}