@media (max-width: 700px) {
    .header {
        padding-top: 17px;
        max-width: 700px;
        padding-bottom: 0;
        height: 642px;
        margin-bottom: 22px;
    }

    .header__container {
        width: 375px;
        margin-bottom: 32px;
    }

    .nav {
        display: none;
    }

    .logo-row {
        margin-left: 20px;
    }

    .logo-row__title {
        font-size: 30px;
        margin-left: 10px;
    }

    .Welcome {
        margin-top: 0;
        display: flex;
        justify-content: center;
    }

    .container {
        width: 375px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .container__text {
        width: 375px;
        display: block;
    }
    
    .container__text {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .container__title:nth-of-type(2) {
        margin-top: 15px;
        font-weight: 700;
        font-size: 28px;
        line-height: 125%;
    }

    .container__title:nth-child(3) {
        margin-top: 15px;
        margin-bottom: 25px;
        font-weight: 400;
        font-size: 15px;
        line-height: 125%;
    }

    .group {
        margin-left: 20px;
        margin-right: 20px;
    }

    .container__partners {
        display: flex;
        flex-direction: column;
        width: 375px;
        align-items: center;
    }

    .span__text {
        font-weight: 700;
        line-height: 125%;
    }

    .box:nth-child(2) {
        font-size: 24px;
        line-height: 125%;
        font-weight: 700;
    }

    .box:nth-child(3) {
        font-size: 20px;
        font-weight: 400;
        line-height: 125%;
        text-align: center;
    }

    .logos {
        flex-direction: column;
        gap: 40px;
    }

    .container__partners > .partners__button {
        font-size: 20px;
        font-weight: 400;
        line-height: 125%;
        width: auto;
        margin-bottom: 0;
    }

    .container__guys {
        width: 375px;
        margin-left: auto;
        margin-right: auto;
    }

    .container__guys:nth-child(1) {
        margin-bottom: 60px;
    }

    .box__guys {
        width: 375px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    .guys__help .box__guys {
        flex-direction: column-reverse;
    }

    .box__text {
        margin-left: 20px;
        margin-right: 20px;
    }

    .box__in {
        margin-bottom: 30px;
    }

    .midtext:nth-child(1) {
        font-size: 24px;
        line-height: 125%;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .midtext:nth-child(2) {
        font-size: 15px;
        font-weight: 400;
        line-height: 125%;
        color: rgba(33, 37, 41, 0.5);
        margin-bottom: 20px;
    }

    .chels__text__box {
        padding: 0 25px 19px 38px;
    }

    .container__body:nth-of-type(1) {
        margin-bottom: 60px;
    }

    .box__help .midtext:nth-of-type(2) {
        max-width: 335px;
    }

    .partners2 {
        margin-bottom: 39px;
    }

    .partners2 .box:nth-child(3) {
        display: none;
    }

    .boxMobile {
        font-family: "Work Sans", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 125%;
        color: black;
        width: 335px;
        margin-bottom: 10px;
    }

    .team {
        flex-direction: column;
    }

    .footer__container {
        width: 375px;
        flex-direction: column;
        row-gap: 20px;
        justify-content: center;
    }
}