@font-face {
    font-family: "Work Sans";
    src: url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Work+Sans:wght@500&display=swap);
}

@font-face {
    font-family: "Work Sans Light";
    src: url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Work+Sans:wght@300;500&display=swap);
}

@font-face {
    font-family: "Work Sans Bold";
    src: url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Work+Sans:wght@700&display=swap);
}

body {
    background-color: #fff;
}

.container {
    max-width: 100%;
    margin-left: 130px;
	margin-right: 130px;
}
